* {
    color: whitesmoke;
    font-family: 'Raleway';
}
#header-nav, body {
    background: rgb(34,34,34);
    background: linear-gradient(38deg, rgba(34,34,34,1) 10%, rgba(28,27,27,1) 34%, rgba(37,37,37,1) 100%);
}
@media (max-width: 576px) {
    #mynavbar {
        margin-top: 1rem;
    }
    #hero-img {
        height: 25dvh;
    }
    .card-columns {
        column-count: 2; /* Single column on extra small screens */
    }
}
@media (max-width: 768px) {
    .card-columns {
        column-count: 3; /* Fewer columns on smaller screens */
    }
}

.card-columns {
    column-count: 5; /* Number of columns */
    column-gap: 1rem; /* Gap between columns */
}

.card {
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
    cursor: pointer;
}

.start-10 {
    left: 10%;
}
.video-parent-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.video-container {
    position: sticky;
    top: 20%;
    width: 100%;
    height: 400px;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
}
.accordion {
    min-height: 80dvh;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
}
.hero-image, #contact-section, .about-me-subtitle {
    opacity: 0;
    position: relative;
    left: -20px; 
}

.features-item {
    opacity: 0;
    position: relative;
    bottom: -20px;
}

.quote-home, .main-title {
    opacity: 0;
    position: relative;
    top: -20px;
}
